body {
  background: transparent; /* Make it white if you need */
  padding: 0 24px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  color: #72a24d;
}

.question_container{
  border: 1px solid #cbd5e0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}

.question_container h3{
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: #2d3748;
}

.question_container h3 span{
  font-weight: 700;
}

.question_container hr{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0 0 1px;
  border-color: #1a202c;
  opacity: 0.6;
}

.answers {
  
  display: flex;
  flex-direction: column;
}

.question_container button,a{
  text-decoration: none;
  cursor: pointer;
  height: 2.5rem;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-transform: uppercase;
  color: #e2e8f0;
  background-color: #171923;
} 
button:disabled {
  cursor: not-allowed;
}

.correctAnswer{
  color: green;
  display: flex;
  align-items: center;
}
svg{
  padding-right: 0.5rem;
}
.wrongAnswer{
  color: red;
}

